#Ignore certain build properties
Builds/iOS/MusicPlayerRemote.xcodeproj/project.xcworkspace/xcuserdata/Andy.xcuserdatad
Builds/iOS/MusicPlayerRemote.xcodeproj/xcuserdata/Andy.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
Builds/iOS/MusicPlayerRemote.xcodeproj/project.xcworkspace/xcuserdata/Andy.xcuserdatad/UserInterfaceState.xcuserstate
Builds/iOS/build